In [1]:
from datetime import datetime
from time import time
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin
from sklearn.base import BaseEstimator
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.corpus import stopwords  #pip install nltk
from nltk.corpus import stopwords
import nltk
nltk.download("stopwords")
from nltk.stem.porter import PorterStemmer
import string
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
from gensim.models import word2vec  #pip install word2vec
from wordcloud import WordCloud  #pip install wordcloud
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
from sklearn.manifold import TSNE, MDS
from sklearn.decomposition import NMF, LatentDirichletAllocation
from textblob import TextBlob  #Sentiment Analysis - pip install textblob
from sklearn.decomposition import TruncatedSVD, NMF
import matplotlib.patches as mpatches
import matplotlib
path_to_csv = '../../../cs82_advanced_machine_learning_data/HW2/papers.csv'

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\khan_\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

C:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [58]:
df_allPlays = pd.read_csv('Shakespeare_data.csv')
print(allPlays.shape)
df_allPlays.head()

(111396, 6)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [59]:
df_allPlays.isna().sum()

Dataline               0
Play                   0
PlayerLinenumber       3
ActSceneLine        6243
Player                 7
PlayerLine             0
dtype: int64

In [61]:
df_allPlays[df_allPlays.isnull().any(axis=1)].head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
111,112,Henry IV,10.0,NaN,WESTMORELAND,Exeunt
112,113,Henry IV,10.0,NaN,WESTMORELAND,SCENE II. London. An apartment of the Prince's.

In [62]:
df_allPlays.ActSceneLine.isnull().groupby([df_allPlays['Play']]).sum()

Play
A Comedy of Errors           88.0
A Midsummer nights dream    138.0
A Winters Tale              125.0
Alls well that ends well    158.0
Antony and Cleopatra        297.0
As you like it              145.0
Coriolanus                  224.0
Cymbeline                   201.0
Hamlet                      224.0
Henry IV                    161.0
Henry V                     162.0
Henry VI Part 1             206.0
Henry VI Part 2             204.0
Henry VI Part 3             199.0
Henry VIII                  140.0
Julius Caesar               174.0
King John                   117.0
King Lear                   266.0
Loves Labours Lost          108.0
Measure for measure         158.0
Merchant of Venice          137.0
Merry Wives of Windsor      217.0
Much Ado about nothing      120.0
Othello                     199.0
Pericles                    169.0
Richard II                  137.0
Richard III                 236.0
Romeo and Juliet            217.0
Taming of the Shrew         169.0
The Tempest                 114.0
Timon of Athens             162.0
Titus Andronicus            167.0
Troilus and Cressida        220.0
Twelfth Night               165.0
Two Gentlemen of Verona     123.0
macbeth                     196.0
Name: ActSceneLine, dtype: float64

In [67]:
class RemoveAllNans (TransformerMixin, BaseEstimator):
    def __init__(self, prints = False):
        self.prints = prints
    def fit(self, X, y = None):
        return self
    def transform(self, X):
        return X.dropna()
    
    
class split_act_scene_line (TransformerMixin, BaseEstimator):
    def __init__(self, prints = False):
        self.prints = prints
    def fit(self, X, y = None):
        return self
    def transform(self, X):
        X[['Act','Scene','Line']] = X['ActSceneLine'].str.split('.', expand=True).apply(pd.to_numeric)
        return X
    
class group_data(TransformerMixin, BaseEstimator):
    def __init__(self, grouping = "Act",  prints = False):
        self.prints = prints
        self.grouping = grouping
        print(self.grouping)
    def fit(self, X, y = None):
        return self
    def transform(self, X):
        if self.grouping == "Play" : 
                group_by = ["Play"]
        elif self.grouping == "Act" : 
                group_by = ["Play", "Act"]
        elif self.grouping == "Scene":
                group_by = ["Play", "Act", "Scene"]

        lines = X.groupby(group_by)["PlayerLine"].sum().reset_index()["PlayerLine"]
        players = X.groupby(group_by)["Player"].unique().reset_index()
        X_new = pd.concat([players, lines], axis=1)
        return X_new

In [73]:
allplays_pipeline = Pipeline([
    ('romove_na', RemoveAllNans()),
    ('split_act_scene_line', split_act_scene_line()),
    ('group_data', group_data(grouping="Act"))
])

df_PlayData = allplays_pipeline.fit_transform(df_allPlays)

df_PlayData.head(200)

Act

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,Play,Act,Player,PlayerLine
0,A Comedy of Errors,1,"[AEGEON, DUKE SOLINUS, Gaoler, First Merchant,...","Proceed, Solinus, to procure my fallAnd by the..."
1,A Comedy of Errors,2,"[ADRIANA, LUCIANA, DROMIO OF EPHESUS, OF SYRAC...","Neither my husband nor the slave return'd,That..."
2,A Comedy of Errors,3,"[LUCIANA, OF EPHESUS, DROMIO OF EPHESUS, BALTH...","ANTIPHOLUSGood Signior Angelo, you must excuse..."
3,A Comedy of Errors,4,"[Second Merchant, ANGELO, Officer, OF EPHESUS,...","You know since Pentecost the sum is due,And si..."
4,A Comedy of Errors,5,"[ANGELO, Second Merchant, OF SYRACUSE, ADRIANA...","I am sorry, sir, that I have hinder'd you,But,..."
5,A Midsummer nights dream,1,"[THESEUS, HIPPOLYTA, EGEUS, HERMIA, DEMETRIUS,...","Now, fair Hippolyta, our nuptial hourDraws on ..."
6,A Midsummer nights dream,2,"[PUCK, Fairy, OBERON, TITANIA, DEMETRIUS, HELE...","How now, spirit! whither wander you?Over hill,..."
7,A Midsummer nights dream,3,"[BOTTOM, QUINCE, SNOUT, STARVELING, PUCK, FLUT...","Are we all met?Pat, pat, and here's a marvello..."
8,A Midsummer nights dream,4,"[PUCK, TITANIA, BOTTOM, PEASEBLOSSOM, COBWEB, ...","lying asleep.Enter TITANIA and BOTTOM, PEASEBL..."
9,A Midsummer nights dream,5,"[HIPPOLYTA, THESEUS, LYSANDER, PHILOSTRATE, Pr...","'Tis strange my Theseus, that theselovers spea..."
10,A Winters Tale,1,"[ARCHIDAMUS, CAMILLO, POLIXENES, LEONTES, HERM...","If you shall chance, Camillo, to visit Bohemia..."
11,A Winters Tale,2,"[HERMIONE, First Lady, MAMILLIUS, Second Lady,...","Take the boy to you: he so troubles me,'Tis pa..."
12,A Winters Tale,3,"[CLEOMENES, DION, LEONTES, Officer, HERMIONE, ...","The climate's delicate, the air most sweet,Fer..."
13,A Winters Tale,4,"[Shepherd, Time, POLIXENES, CAMILLO, AUTOLYCUS...","SCENE I:I, that please some, try all, both joy..."
14,A Winters Tale,5,"[CLEOMENES, LEONTES, PAULINA, DION, Gentleman,...","Sir, you have done enough, and have perform'dA..."
15,Alls well that ends well,1,"[COUNTESS, BERTRAM, LAFEU, HELENA, PAROLLES, P...","In delivering my son from me, I bury a second ..."
16,Alls well that ends well,2,"[KING, First Lord, Second Lord, Both, PAROLLES...","Farewell, young lords, these warlike principle..."
17,Alls well that ends well,3,"[DUKE, First Lord, Second Lord, COUNTESS, Clow...",So that from point to point now have you heard...
18,Alls well that ends well,4,"[Second Lord, First Soldier, PAROLLES, All, Se...",He can come no other way but by this hedge-cor...
19,Alls well that ends well,5,"[HELENA, Gentleman, Widow, PAROLLES, Clown, LA...",But this exceeding posting day and nightMust w...
20,Antony and Cleopatra,1,"[PHILO, CLEOPATRA, MARK ANTONY, Attendant, DEM...","Nay, but this dotage of our general'sO'erflows..."
21,Antony and Cleopatra,2,"[POMPEY, MENECRATES, MENAS, VARRIUS, LEPIDUS, ...","If the great gods be just, they shall assistTh..."
22,Antony and Cleopatra,3,"[VENTIDIUS, SILIUS, AGRIPPA, DOMITIUS ENOBARBU...","Now, darting Parthia, art thou struck, and now..."
23,Antony and Cleopatra,4,"[OCTAVIUS CAESAR, MECAENAS, MARK ANTONY, DOMIT...","He calls me boy, and chides, as he had powerTo..."
24,Antony and Cleopatra,5,"[OCTAVIUS CAESAR, DOLABELLA, DERCETAS, AGRIPPA...","Go to him, Dolabella, bid him yield,Being so f..."
25,As you like it,1,"[ORLANDO, ADAM, OLIVER, DENNIS, CHARLES, CELIA...","As I remember, Adam, it was upon this fashionb..."
26,As you like it,2,"[DUKE SENIOR, AMIENS, First Lord, Second Lord,...","Now, my co-mates and brothers in exile,Hath no..."
27,As you like it,3,"[DUKE FREDERICK, OLIVER, ORLANDO, CORIN, TOUCH...","Not see him since? Sir, sir, that cannot be:Bu..."
28,As you like it,4,"[JAQUES, ROSALIND, ORLANDO, CELIA, A Lord, For...","I prithee, pretty youth, let me be better acqu..."
29,As you like it,5,"[TOUCHSTONE, AUDREY, WILLIAM, CORIN, ORLANDO, ...","We shall find a time, Audrey, patience, gentle..."
...,...,...,...,...
151,Timon of Athens,1,"[Poet, Painter, Merchant, Jeweller, TIMON, Mes...","Good day, sir.I am glad you're well.I have not..."
152,Timon of Athens,2,"[Senator, CAPHIS, FLAVIUS, TIMON, APEMANTUS, A...","And late, five thousand: to Varro and to Isido..."
153,Timon of Athens,3,"[Servant, FLAMINIUS, LUCULLUS, LUCILIUS, First...","I have told my lord of you, he is coming down ..."
154,Timon of Athens,4,"[TIMON, First Servant, FLAVIUS, Second Servant...","Let me look back upon thee. O thou wall,That g..."
155,Timon of Athens,5,"[PROSPERO, Painter, Poet, TIMON, Both, FLAVIUS...",ACT ISCENE I. Athens. A hall in Timon's house....
156,Titus Andronicus,1,"[SATURNINUS, BASSIANUS, MARCUS ANDRONICUS, Cap...","Noble patricians, patrons of my right,Defend t..."
157,Titus Andronicus,2,"[AARON, DEMETRIUS, CHIRON, TITUS ANDRONICUS, S...","Now climbeth Tamora Olympus' top,Safe out of f..."
158,Titus Andronicus,3,"[TITUS ANDRONICUS, LUCIUS, MARCUS ANDRONICUS, ...","Hear me, grave fathers! noble tribunes, stay!F..."
159,Titus Andronicus,4,"[Young LUCIUS, MARCUS ANDRONICUS, TITUS ANDRON...","Help, grandsire, help! my aunt LaviniaFollows ..."
160,Titus Andronicus,5,"[LUCIUS, First Goth, All the Goths, Second Got...","Approved warriors, and my faithful friends,I h..."
161,Troilus and Cressida,1,"[LUCIUS, TROILUS, PANDARUS, AENEAS, CRESSIDA, ...","In Troy, there lies the scene. From isles of G..."
162,Troilus and Cressida,2,"[AJAX, THERSITES, ACHILLES, PATROCLUS, PRIAM, ...","Thersites!Agamemnon, how if he had boils? full..."
163,Troilus and Cressida,3,"[PANDARUS, Servant, HELEN, PARIS, Boy, TROILUS...","Friend, you! pray you, a word: do not you foll..."
164,Troilus and Cressida,4,"[PARIS, DEIPHOBUS, AENEAS, DIOMEDES, TROILUS, ...","See, ho! who is that there?It is the Lord AEne..."
165,Troilus and Cressida,5,"[ACHILLES, PATROCLUS, THERSITES, AGAMEMNON, AJ...",I'll heat his blood with Greekish wine to-nigh...
166,Twelfth Night,1,"[DUKE ORSINO, CURIO, VALENTINE, VIOLA, Captain...","If music be the food of love, play on,Give me ..."
167,Twelfth Night,2,"[ANTONIO, SEBASTIAN, MALVOLIO, VIOLA, SIR TOBY...",Will you stay no longer? nor will you not that...
168,Twelfth Night,3,"[VIOLA, Clown, SIR TOBY BELCH, SIR ANDREW, OLI...","Save thee, friend, and thy music: dost thou li..."
169,Twelfth Night,4,"[Clown, SEBASTIAN, SIR ANDREW, SIR TOBY BELCH,...",Will you make me believe that I am not sent fo...
170,Twelfth Night,5,"[FABIAN, Clown, DUKE ORSINO, VIOLA, First Offi...","Now, as thou lovest me, let me see his letter...."
171,Two Gentlemen of Verona,1,"[VALENTINE, PROTEUS, SPEED, JULIA, LUCETTA, AN...","Cease to persuade, my loving Proteus:Home-keep..."
172,Two Gentlemen of Verona,2,"[SPEED, VALENTINE, SILVIA, PROTEUS, JULIA, PAN...","Sir, your glove.Not mine, my gloves are on.Why..."
173,Two Gentlemen of Verona,3,"[DUKE, PROTEUS, VALENTINE, LAUNCE, SPEED, THURIO]","Sir Thurio, give us leave, I pray, awhile,We h..."
174,Two Gentlemen of Verona,4,"[First Outlaw, Second Outlaw, Third Outlaw, SP...","Fellows, stand fast, I see a passenger.If ther..."
175,Two Gentlemen of Verona,5,"[EGLAMOUR, SILVIA, THURIO, PROTEUS, JULIA, DUK...","The sun begins to gild the western sky,And now..."
176,macbeth,1,"[First Witch, Second Witch, Third Witch, ALL, ...","When shall we three meet againIn thunder, ligh..."
177,macbeth,2,"[BANQUO, FLEANCE, MACBETH, LADY MACBETH, Porte...","How goes the night, boy?The moon is down, I ha..."
178,macbeth,3,"[BANQUO, MACBETH, LADY MACBETH, ATTENDANT, Fir...","Thou hast it now: king, Cawdor, Glamis, all,As..."
179,macbeth,4,"[First Witch, Second Witch, Third Witch, ALL, ...",Thrice the brinded cat hath mew'd.Thrice and o...
180,macbeth,5,"[Doctor, Gentlewoman, LADY MACBETH, MENTEITH, ...","I have two nights watched with you, but can pe..."

In [74]:
print(df_PlayData.isna().sum())
print(df_PlayData.dtypes)
print(df_PlayData.shape)

Play          0
Act           0
Player        0
PlayerLine    0
dtype: int64
Play          object
Act            int64
Player        object
PlayerLine    object
dtype: object
(181, 4)